.form-group {
    border: 1px;
    width: 720px;
    text-align: center;
    background: darkgray;
    color: brown;
    padding: 10px;
    border-radius: 10px;
    margin: 0 auto;
}

.text-aqua {
    color: black;
}

.button {
    background: darkcyan;
    color: azure;
    display: inline-block;
    font-size: 12px;
    margin: 5px;
    padding: 5px 0px;
    text-align: center;
    width: 55px;
    text-decoration: none;
    box-shadow: 0px 3px 0px #373c3c;
}

.button.green {
    background: darkgreen;
    box-shadow: 0px 3px 0px #373c3c;
}

.button.red {
    background: maroon;
    box-shadow: 0px 3px 0px #373c3c;
}

.button.registro {
    background: darkorange;
    box-shadow: 0px 3px 0px #373c3c;
}

.btn {
    background: darkcyan;
    color: azure;
    display: inline-block;
    font-size: 12px;
    margin: 5px;
    padding: 5px 0px;
    text-align: center;
    width: 55px;
    text-decoration: none;
    box-shadow: 0px 3px 0px #373c3c;
}